.match{
	width: 800px;
	height: 130px;
	background-color: #3498db;
	overflow: hidden;
}
.logo1{
	width: 110px;
	position: absolute;
	top: 5px;
	left: 100px;
}
.logo2{

	width: 110px;
	position: absolute;
	top: 5px;
	right: 100px;
}
.score1{
	font-size: 60px;
	position: absolute;
	top: 35px;
	left: 210px;
	color: white;
}
.trait{
	font-size: 80px;
	color: white;
	position: absolute;
	top: 20px;
	left: 390px
}
.score2{
	font-size: 60px;
	position: absolute;
	top: 35px;
	right: 210px;
	color: white;
}
/*Les commentaires*/
#Timeline{
	background-color: #95a5a6;
	width:800px;
	position: relative;
	top: 0px;
	left: 100px;
	display: inline-block;
	float: left;
	height: 600px;
	border-radius: 4px;
}
.d_com{
	width: 500px;
	color: white;
}
.ligne_msg{
	margin-bottom: 10px;
	display: inline-block;
	width: 490px;
}
.pseudo, .d_pseudo{
	color : #3498db;
	display: block;

}

.message,.d_mes{
	color : #ecf0f1;
	display: inline-block;
	text-indent: 75px;
}

.tl{
	border : solid;
	width: 500px;
	margin-top: 0;
	position: relative;
	left: 150px;
	background-color: #2c3e51;
}

/*Fin commentaires*/

/*--------------------------------------------------*/

/*Le formulaire et ses elts*/
.form{
	background-color: #2c3e51;
	width: 400px;
	height: 400px;
	float: right;
	border-radius: 4px;
	display: inline-block;
}
.msg{
	padding-left: 50px;
	display: inline-block;
	width: 400px;
	color: #ecf0f1;
}
.titre_form{
	border-radius: 4px 4px 0 0;
	height: 25px;
	font-size: 20px;
	color: white;
	background-color: #2980b9;
	display: inline-block;
	padding: 0px;
	width: 400px;
	text-align: center;
}
input,textarea{
	border-radius: 5px;
	width: 300px;
	border : none;

}
.submit{
	width: 150px;
	position: relative;
	left: 78px;
	background-color: #3498db;
	color: #ecf0f1;
	border: none;
}
#nom,.submit{
	height: 25px;
}
textarea{
	height: 111px;
}
.star{
	color: #e74c3c;
}
.commentez{
    text-align: center;
    font-size: 48px;
    color: white;
}